body{
    font-family: sans-serif;
    background-color: black;
    color: burlywood;
    max-width: 29em;
  }
  
  label {
      width: 18em;
      display: inline-block;
      margin-left: 3%;
  }
  
  [readonly] {
    background-color:chocolate;
  }

  .important input {
    background-color:indianred;
    font-weight: bold;

  }
  
  input {
    margin: 2px;
    width: 10em;
    color: burlywood;
    background-color: darkslategrey;
    border: 2px solid burlywood;
    border-radius: 3px;
  }

  button {
    width: 93%;
    background-color: burlywood;
    border: 2px solid burlywood;
    border-radius: 6px;
    color: indianred;
    font-weight: bold;
    margin: 2px;
    margin-left: 3%;
    padding: 2px;
  }

  .release, .booster, .compressor {
    visibility: hidden;
  }

  .error {
    display: none;
    background-color: brown;
    border: 2px solid red;
    border-radius: 8px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
  }